*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: rgb(235, 229, 229);
    padding-top: 10px;
}
.container{
    height: 100%;
    width: 33%;
    background-color: white;
    margin: 0 auto;
}
.header{
    height: 15%;
    width: 100%;
    background-image: url(./images/header.png);
    background-size: cover;
}
.menu{
    padding: 0 40px;
}
.menu-items{
    height: 120px;
    width: 100%;
    border-bottom: 1px solid #D2D2D2;
    display: flex;
    align-items: center;
    gap: 20px;
}
.item-graphic{
    width: 50px;
    height: 50px;

}
.item-content{
    line-height: 15px;
}
.item-title{
    font-size: 18px;
}
.item-description{
    font-size: 10px;
    color: #8B8B8B;

}
.item-price{
    font-size: 10px;
}
.add-btn{
    margin-left: auto;
    background-color: transparent;
    padding: 14px;
    border-radius: 50%;
    color: #3C3C3C;
    border: 1px solid #DEDEDE;
}